@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

.video-content {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    font-family: 'Poppins';
}

.video-content-sub {
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    font-family: 'Karla';
}

.video-content-width {
    width: 100%;
    gap: '0px'
}

.home-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 300;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.home-subContent {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}

.home-about-col-pading {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.video-content-width {
    width: 100%;
    gap: 1rem
}

@media (max-width: 576px) {

    /* Small devices (phones) */
    .video-content {
        font-size: 20px;
        line-height: 30px;
    }

    .video-content-sub {
        font-size: 15px;
        line-height: 19.5px;
    }

    .video-content-width {
        width: 100%;
        gap: 1rem
    }

    .home-subContent {
        font-size: 15px;
    }

    .home-heading {
        font-size: 28px;
        line-height: 25.2px;


    }

    .home-about-col-pading {
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }

    .home-about-main-div-margin-top {
        margin-top: 40px;
        margin-bottom: 0px;
    }

    .home-main-div-margin-bottom-and-top {
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

@media (min-width: 577px) and (max-width: 768px) {

    /* Medium devices (tablets) */
    .video-content {
        font-size: 28px;
        line-height: 42px;
    }

    .video-content-sub {
        font-size: 19px;
        line-height: 24px;
    }

    .video-content-width {
        width: 100%;
        gap: 1rem
    }

    .video-content-width {
        width: 84.5%;
    }

    .home-subContent {
        font-size: 18px;
    }

    .home-heading {
        font-size: 32px;
        line-height: 28.8px;

    }

    .home-about-col-pading {
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .home-about-main-div-margin-top {
        margin-top: 45px;
        margin-bottom: 22.5px;
    }

    .home-main-div-margin-bottom-and-top {
        margin-top: 22.5px;
        margin-bottom: 22.5px;
    }
}

@media (min-width: 769px) and (max-width: 849px) {

    /* Medium devices (tablets) */
    .video-content {
        font-size: 30px;
        line-height: 44px;
    }

    .video-content-sub {
        font-size: 20px;
        line-height: 26px;
    }

    .video-content-width {
        width: 100%;
        gap: 1rem
    }

    .home-subContent {
        font-size: 18px;
    }

    .home-heading {
        font-size: 32px;
        line-height: 28.8px;


    }

    .home-about-col-pading {
        padding-top:50px;
        padding-bottom: 50px;
    }

    .home-about-main-div-margin-top {
        margin-top: 65px;
        margin-bottom: 32.5px;
    }

    .home-main-div-margin-bottom-and-top {
        margin-top: 32.5px;
        margin-bottom: 32.5px;
    }
}

@media (min-width: 850px) and (max-width:1300px){

    /* Large devices (laptops/desktops) */
    .video-content {
        font-size: 32px;
        line-height: 48px;
    }

    .video-content-sub {
        font-size: 24px;
        line-height: 31.2px;
    }

    .video-content-width {
        width: 100%;
        gap: 1rem
    }

    .home-subContent {
        font-size: 20px;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .home-heading {
        font-size: 48px;
        line-height: 43.2px;

    }

    .home-about-main-div-margin-top {
        margin-top: 76px;
        margin-bottom: 38px;
    }

    .home-main-div-margin-bottom-and-top {
        margin-top: 38px;
        margin-bottom: 38px;
    }
}

