/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.our-team-heading {
    font-family: 'Poppins';
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    color: #FFFFFF;
}

.person {
    padding: 10px;
}

.person img {
    border-radius: 10px;
    /* box-shadow: 0 0 10px white; */
    margin: 15px;
}
.person .name{
    font-family: 'Poppins';
    font-size: 26px;
    font-weight: 500;
    line-height: 60px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.person .post{
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    line-height: 37.5px;
    color: #FFFFFF;
}


.our-team-subContent{
        font-family: Karla;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left; 
        color: #FFFFFF;  
    
}

.our-team-heading{
    text-align: center;
    
   
}

@media (max-width: 576px) { /* Small devices (phones) */
    .our-team-subContent {
        font-size: 15px;
    }
    .our-team-heading{
        font-size: 25px;
        line-height: 37.5px;   
    }
    .our-team-col-pading{
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }
    .our-team-main-div-margin-top{
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .our-team-main-div-margin-bottom-and-top{
        margin-top:20px;
        margin-bottom: 20px;
    }
   
    .person{
        padding: 0;
        margin: 0;
        gap:5px
    }
    .person .name{
        font-size: 15px;
        font-weight: 200;
        line-height: 22.5px;
    }
    
    .person .post{
        font-size: 12px;
        font-weight: 100;
        line-height: 18px;
    }
    .person img{
        height: 200px;
        margin-left: 0px;
        margin-right: 0px;
        /* padding: 5px; */
    }
    .outer-person{
     width: 45%;
     padding: 0;
     margin: 0;
    
    }
}

@media (min-width: 577px) and (max-width: 768px) { /* Medium devices (tablets) */
    .our-team-subContent {
        font-size: 18px;
    }
    .our-team-heading{
        font-size: 36px; 
        line-height: 54px; 
       
    }
    .our-team-col-pading{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .our-team-main-div-margin-top{
        margin-top: 45px;
        margin-bottom: 22.5px;
    }
    .our-team-main-div-margin-bottom-and-top{
        margin-top:22.5px;
        margin-bottom: 22.5px;
    }
    .person .name{
        font-size: 20px;
        font-weight: 500;
        line-height: 42px;
    }
    
    .person .post{
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
    }
    .person img{
        margin-left: 0px;
        margin-right: 0px;
        /* padding: 5px; */
    }
}

@media (min-width: 769px) and (max-width: 849px) { /* Medium devices (tablets) */
    .our-team-subContent {
        font-size: 18px;
    }
    .our-team-heading{
        font-size: 38px; 
        line-height: 57px;
       
         
    }
    .our-team-about-col-pading{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .our-team-main-div-margin-top{
        margin-top: 54px;
        margin-bottom: 38px;
    }
    .our-team-main-div-margin-bottom-and-top{
        margin-top:32.5px;
        margin-bottom: 32.5px;
    }
    .person .name{
        font-size: 22px;
        font-weight: 500;
        line-height: 42px;
    }
    
    .person .post{
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
    }
    .person img{
        margin-left: 0px;
        margin-right: 0px;
        /* padding: 5px; */
    }
}

@media (min-width: 850px) { /* Large devices (laptops/desktops) */
    .our-team-subContent {
        font-size: 20px;
    }
    .our-team-heading{
        font-size: 48px;
        line-height: 72px;
        
    }
    .our-team-col-pading{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .our-team-main-div-margin-top{
        margin-top: 45px;
        margin-bottom: 38px;
    }
    .our-team-main-div-margin-bottom-and-top{
        margin-top:38px;
        margin-bottom: 38px;
    }
    .person .name{
        font-size: 26px;
        font-weight: 500;
        line-height: 60px;
    }
    
    .person .post{
        font-size: 18px;
        font-weight: 400;
        line-height: 37.5px;
    }
    .person img{
        margin-left: 0px;
        margin-right: 0px;
        /* padding: 5px; */
    }
}
