@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.book-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control-text-area {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding-left: 10px; 
    color: #FFFFFF; 
}

@media (max-width: 576px) { /* Small devices (phones) */
    .book-heading{
        font-size: 23px;
        line-height: 32px;  
    }
    .book-col-pading{
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
    }
    .book-main-div-margin-top{
        margin-top: 40px;
        margin-bottom: 0px;
    }
    .book-main-div-margin-bottom-and-top{
        margin-top:100px;
        margin-bottom: 25px;
    }
    
}

@media (min-width: 577px) and (max-width: 768px) { /* Medium devices (tablets) */
    .book-heading{
        font-size: 28px; 
        line-height: 36px; 
       
    }
    .book-col-pading{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .book-main-div-margin-top{
        margin-top: 45px;
        margin-bottom: 22.5px;
    }
    .book-main-div-margin-bottom-and-top{
        margin-top:100px;
        margin-bottom: 25px;
    }
}

@media (min-width: 769px) and (max-width: 850px) { /* Medium devices (tablets) */
    .book-heading{
        font-size: 30px; 
        line-height: 40px;
       
         
    }
    .book-col-pading{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }
    .book-main-div-margin-top{
        margin-top: 65px;
        margin-bottom: 32.5px;
    }
    .book-main-div-margin-bottom-and-top{
        margin-top:100px;
        margin-bottom: 25px;
    }
}

@media (min-width: 850px) { /* Large devices (laptops/desktops) */
    .book-heading{
        font-size: 36px;
        line-height: 48px;
        
    }
    .book-col-pading{
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
    .book-main-div-margin-top{
        margin-top: 76px;
        margin-bottom: 38px;
    }
    .book-main-div-margin-bottom-and-top{
        margin-top:100px;
        margin-bottom: 25px;
    }
}



